# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.mypy_cache/

# =========================
# IDE / OS
# =========================
.idea/
.vscode/
.DS_Store
*.swp

# =========================
# Docker
# =========================
*.log
docker-compose.override.yml

# =========================
# Helm
# =========================
# dependencies
*/charts/


# =========================
# Kubernetes / manifests
# =========================

*.kubeconfig

# =========================
# Terraform
# =========================
*.tfstate
*.tfstate.*
.terraform/
crash.log

# =========================
# Ansible
# =========================
*.retry

# =========================
# Logs
# =========================
*.log

# =========================
# Secrets / local env
# =========================
.env

problems.md